UVa-Solutions.xcworkspace/contents.xcworkspacedata
UVa-Solutions.xcworkspace/xcuserdata/macuser.xcuserdatad/UserInterfaceState.xcuserstate
UVa-Solutions/UVa-Solutions/main.cpp
UVa-Solutions/UVa-Solutions.xcodeproj/project.pbxproj
UVa-Solutions/UVa-Solutions.xcodeproj/xcuserdata/macuser.xcuserdatad/xcschemes/UVa-Solutions.xcscheme
UVa-Solutions/UVa-Solutions.xcodeproj/xcuserdata/macuser.xcuserdatad/xcschemes/xcschememanagement.plist
